.at-button {
    padding: 10px 20px;
    outline: 0;
    border: 0;
    background-color: var(--primary);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.at-button:hover {
    background-color: var(--primary);
}

.at-button:active {
    background-color: var(--primary);
}

.at-button.is-dark-mode {
    background-color: var(--dark-primary);
}

.at-button.is-dark-mode:hover {
    background-color: var(--dark-primary);
}

.at-button.is-dark-mode:active {
    background-color: var(--dark-primary);
}
