$radius: 10px;
$bar-size: 50px;

:root {
    --scroll-thickness: 8px;
}

.at-scrollview {
    display: grid;
    min-width: 20px;
    min-height: 20px;
    overflow: hidden;
    position: relative;
}

.at-scrollview:after {
    content: '';
    min-height: var(--scroll-thickness);
}

.at-scrollview > .scroll {
    position: absolute;
    background-color: #eee;
    border-radius: 100px;
}

.at-scrollview > .scroll > .bar {
    background-color: #aaa;
    border-radius: 100px;
}

.at-scrollview > .vertical.scroll {
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: var(--scroll-thickness);
    height: 100%;
}

.at-scrollview > .vertical.scroll > .bar {
    max-height: 100%;
    min-height: 10px;
    width: var(--scroll-thickness);
}

.at-scrollview > .horizontal.scroll {
    bottom: 0;
    left: 0;
    display: flex;
    height: var(--scroll-thickness);
    width: 100%;
}

.at-scrollview > .horizontal.scroll > .bar {
    max-width: 100%;
    min-width: 10px;
    height: var(--scroll-thickness);
}


