$radius: 10px;
$thickness: 8px;
$bar-size: 50px;

.at-scrollview {
    display: grid;
    grid-template-columns: auto $thickness;
}

.at-scrollview >.content {
    flex: 1;
    overflow-y: hidden;
}

.at-scrollview > .scroll {
    height: inherit;
    width: $thickness;
    background-color: #eee;
    border-radius: $radius;
}

.at-scrollview > .scroll > .bar {
    height: $bar-size;
    width: 100%;
    background-color: #ccc;
    border-radius: $radius;
}

.at-scrollview > .scroll:last-child {
    height: $thickness;
    width: 100%;
}

.at-scrollview > .scroll:last-child > .bar {
    height: 100%;
    width: $bar-size;
}
